<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Login</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Login or <a href="/signup">Register here</a></h1>

        <form action="/checklogin" method="post">
            <label>Email</label>
            <input type="email" name="email">
            <br><br>
            <label>Password</label>
            <input type="password" name="password">
            <br><br>
            <button type="submit">Login</button>
        </form>
        <script src="" async defer></script>
    </body>
</html>